<div class="container be-detail-container">
  <div class="row">
    <div class="col-sm-6 col-sm-offset-3">
      <br>
      <img src="../../../assets/images/SMS-512.png" class="img-responsive" style="width:200px; height:200px;margin:0 auto;"><br>

      <h1 class="text-center">Verify your mobile number</h1><br>
      <p class="lead" style="align:center"></p><p> Thanks for giving your details. An OTP has been sent to your Mobile Number. Please enter the 4 digit OTP below for Successful Registration</p>  <p></p>
      <br>

      <form #f='ngForm' (ngSubmit)="onSubmit()">
        <div class="row">
          <div class="form-group col-sm-8">
            <span style="color:red;"></span>
            <input type="text" class="form-control" name="otp" placeholder="Enter your OTP number" required ngModel>
          </div>
          <button type="submit" class="btn btn-primary  pull-right col-sm-3">Verify</button>
        </div>
      </form>
      <br><br>
    </div>
  </div>
</div>
